# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/to_do_app/node_modules
/to_do_app/.pnp
/to_do_app/.pnp.js

# testing
/to_do_app/coverage

# production
/to_do_app/build

# misc
/to_do_app/.DS_Store
/to_do_app/.env.local
/to_do_app/.env.development.local
/to_do_app/.env.test.local
*/.env.production.local

*/npm-debug.log*
*/yarn-debug.log*
*/yarn-error.log*


/target
