body{

  text-align: center;
  color: #ffffff;
  background: #000000;
  align-items: center;

}

.sm{

  max-width: 20rem;
  text-align: center;
  align-items: center;
  vertical-align: middle;
  margin: 0;
  position: absolute;
  top: auto;
  left: 50%;
  transform: translate(-50%);
  display: inline-block;

}

.sl{

  vertical-align: middle;
  text-align: center;
  align-items: center;

}

.lol{

  color: #ffffff;
  background-color: #212529;
  border: var(--bs-border-width) solid #212529;

}
.lol:enabled{

  color: #ffffff;
  background-color: #212529;
  border: var(--bs-border-width) solid #212529;

}
.lol::placeholder{

  color: #ffffff;

}

.lol2{

  color: #ffffff;
  background-color: #212529;
  border: var(--bs-border-width) solid #212529;
  margin-right: 0.5rem;

}
.lol2:checked{

  color: #ffffff;
  background-color: #212529;
  border: var(--bs-border-width) solid #212529;

}

.btn-outline-lol{

  color: #ffffff;
  background-color: #212529;
  border: var(--bs-border-width) solid #212529;
  margin: 1rem;

}
.btn-outline-lol:hover{

  color: #ffffff;
  background-color: #212529;
  border: var(--bs-border-width) solid #212529;

}
